{% extends "base.html" %}

{% block body_block %}

    <div class="row">
    <div class="col-5">
        <h1>Contact Us!</h1>
        <hr>
        <dl class="row">
            <dt class="col-sm-3">Email</dt>
            <dd class="col-sm-9"><a href="mailto:pekarskyi1054@gmail.com">pekarskyi1054@gmail.com</a></dd>

            <dt class="col-sm-3">Address</dt>
            <dd class="col-sm-9">Kyiv, Ukraine</dd>
        </dl>
    </div>
    <div class="col-7">
        <h4 class="text-center">Let the \[ F = G \frac{M m}{r^2} \] be with you!</h4>
    </div>
    </div>

{% endblock %}