{% extends "orbit_base.html" %}
{% load static %}

{% block body_block %}
    <script type="text/javascript" src='https://cdn.plot.ly/plotly-2.12.1.min.js'></script>
    <script>
        let orbit_data = {{ result|safe }};
        {#console.log(orbit_data);#}
    </script>


    <h1>PLOT</h1>
    <div class="h-100 p-5 bg-light border rounded-3">
        <div id="visualisation" style="width: 100%; height: 700px;"></div>
    </div>
    <script type="text/javascript" src="{% static 'orbit_display/js/orbit_visual.js' %}"></script>

{% endblock %}